.socials {
	.socialLinks {
		display: inline-flex;
		list-style: none;
		width: 100%;
		padding: 0px;
		justify-content: center;
	}

	.message {
		color: var(--text-color-light);
	}

	.message h1 {
		font-size: 32pt;
		margin: 0.5rem;
	}

	.socialLinks > li {
		padding: 5px;
		font-size: 60pt;
	}

	.socialLinks > li > a {
		text-decoration: none;
		color: var(--text-color-light);
	}

	@media screen and (max-width: 800px) {
		.socialLinks {
			flex-direction: row;
			display: inline;
		}
	}
}
