.socials {
	display: inline-flex;
	list-style: none;
	width: 100%;
	padding: 0px;
	justify-content: center;
}

.socials > li {
	padding: 5px;
	font-size: 60pt;
}

.socials > li > a {
	text-decoration: none;
	color: var(--text-color-light);
}

@media screen and (max-width: 800px) {
	.socials {
		flex-direction: row;
		display: inline;
	}
}
