.home {
	.message h1 {
		margin: 0.5rem;
		font-size: 32pt;
	}

	.message sub {
		font-size: 1rem;
	}

	.split {
		padding: 1rem;

		& > .content > h1 {
			margin: 0;
		}
	}
}

.socialLinks {
	display: inline-flex;
	list-style: none;
	flex-wrap: wrap;
	width: 100%;
	padding: 0px;
	justify-content: center;
	margin: 0px;

	& > li {
		padding: 1rem;
		font-size: 60pt;
	}

	& > li > a {
		text-decoration: none;
		color: var(--text-color);
	}

	@media screen and (max-width: 800px) {
		& {
			flex-direction: row;
			width: 100%;
			display: flex;
			justify-content: space-evenly;
		}
	}
}
