$mainSize: 10px;

.navbar {
	position: relative;
	height: 100vh;
	background: #11101d;
	width: var(--toolbar-width);
	--nav-color: #23a6d5 !important;

	&.showing {
		--toolbar-width: 300px !important;
		--toolbar-text: block !important;
		--toolbar-padding-right: $mainSize;
	}

	&.collapsed {
		--toolbar-width: 50px !important;
		--toolbar-text: none !important;
		--toolbar-padding-right: 0px;
	}

	nav {
		padding-top: var(--toolbar-padding);

		ul {
			padding: 0px;
			margin: 0px;
		}

		footer {
			position: absolute;
			bottom: 0px;
			width: 100%;
			display: grid;
			grid-template-columns: 1fr auto;
			align-items: center;

			#collapse {
				width: 50px;
				height: 50px;
				background-color: #23d5ab;
				font-size: x-large;
				border: none;
				border-radius: $mainSize 0 0 $mainSize;
			}

			#copyright {
				text-align: center;
				display: var(--toolbar-text);
				font-size: x-small;
			}
		}
	}
}

.navItem {
	list-style: none;
	position: relative;
	.item_content {
		height: 50px;
		width: 100%;
		line-height: 50px;
		border-radius: $mainSize;

		a {
			color: var(--text-color-light);
			display: flex;
			align-items: center;
			text-decoration: none;
			justify-content: center;
			cursor: pointer;
			height: 100%;
		}

		i {
			width: 50px;
			font-size: x-large;
			text-align: center;
		}

		a span {
			flex-grow: 1;
			display: var(--toolbar-text);
		}
	}

	.onHover {
		display: none;
	}

	&:is(:hover, :focus) > .onHover {
		display: flex;
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 100%;

		background: lighten($color: #11101d, $amount: 5);

		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 0 $mainSize $mainSize 0;

		padding: 0px $mainSize;
	}
}

.active_cover {
	position: absolute;
	padding-right: var(--toolbar-padding-right);
	width: var(--toolbar-width);
	transition: top var(--nav-time) linear;
	background-image: linear-gradient(90deg, var(--nav-color) 0%, var(--nav-color) 50%, transparent 50%);

	.child {
		height: $mainSize;
		border-radius: 0 0 0 $mainSize;
		background: #11101d;
	}

	ul {
		list-style: none;
		padding: 0px;
		margin: 0px;

		.navItem {
			background: var(--nav-color);
			opacity: 1;
			border-radius: 0 $mainSize $mainSize 0;

			div {
				opacity: 0;
			}
		}
	}

	.child2 {
		height: $mainSize;
		border-radius: $mainSize 0 0 0;
		background: #11101d;
	}
}

.hidden {
	opacity: 0;
}
