@import url("https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
	--toolbar-width: 50px;
	--toolbar-padding: 10px;
	--toolbar-text: none;
	--shadow-color: #cbcbcb;
	--nav-color: transparent;
	--nav-time: 0.1s;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #fff;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color: #000;
	}
}

* {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.fullpage {
	min-height: 100vh;
}

.gradient {
	background: linear-gradient(315deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 800% 800%;
	animation: GradientAnimation 20s ease infinite;
}

@keyframes GradientAnimation {
	0% {
		background-position: 0% 51%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 51%;
	}
}

@media screen and (max-width: 600px) {
	#content {
		padding-left: calc(var(--toolbar-width));
	}

	.navbar {
		position: absolute !important;
	}

	#root {
		grid-template-columns: 1fr;
	}
}
