@import url("https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
	--toolbar-width: 50px;
	--toolbar-padding: 10px;
	--toolbar-text: none;
	--background-color: #fff;
	--shadow-color: #cbcbcb;
	--nav-color: transparent;
	--text-color: #000;
	--text-color-light: #fff;
	--nav-time: 0.1s;
}

body {
	margin: 0;
	background: var(--background-color);
	color: var(--text-color);
	font-family: "Montserrat", sans-serif;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.content {
	margin-left: calc(var(--toolbar-padding) + var(--toolbar-width) + 20px);
	margin-right: 20px;
}

.fullpage {
	height: 100vh;
}

.gradient {
	background: linear-gradient(315deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 800% 800%;
	animation: GradientAnimation 20s ease infinite;
}

@keyframes GradientAnimation {
	0% {
		background-position: 0% 51%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 51%;
	}
}

@media screen and (max-width: 600px) {
	.content {
		margin-left: calc(var(--toolbar-padding) + 70px);
		margin-right: 20px;
	}
	nav {
		background: var(--nav-color);
	}
}